@import url('https://fonts.googleapis.com/css?family=Varela+Round');

html, body {
    overflow-x: hidden;
    height: 100%;
}

body {
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #FC466B;
    position: fixed;
    height: 60px !important;
    overflow: hidden;
    z-index: 10;
}

#sidebar-menu {
    height: 100%;
    position: fixed;
    user-select: none;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, #FC466B 0%, #3F5EFB 100%);
}

.sidebar-menu-inner {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(255,255,255, 0.1);
}

.sidebar-menu-inner:first-child {
    border-top: none;
}

.sidebar-menu-inner li {
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.sidebar-menu-inner li:last-child {
    border-bottom: none;
}

.sidebar-menu-inner li span {
    display: block;
    font-size: 14px;
    color: rgba(255,255,255,0.5);
}

.sidebar-menu-inner li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.sidebar-menu-inner li:hover {
    background: rgba(0,0,0, 0.1);
}

input[type="checkbox"]:checked ~ #sidebar-menu {
    transform: translateX(0);
}

input[type="checkbox"] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.sidebar-icon-toggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}

/* Spinner hamburger menu */
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

/* Animacija */

input[type="checkbox"]:checked ~ .sidebar-icon-toggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0; /* sakrijemo horizontal div */
}

input[type="checkbox"]:checked ~ .sidebar-icon-toggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg); /* rotiramo div za 135 stupnjeva */
    margin-top: 9px;
}

input[type="checkbox"]:checked ~ .sidebar-icon-toggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg); /* rotiramo div za minus 135 stupnjeva */
    margin-top: -9px;
}

/* za mobitele da dolazi odozgor prema dole */

@media screen and (max-width: 300px) {
    #sidebar-menu {
        transform: translateY(-1250px);
        height: 385px;
    }
}